<div id="bill-details-wrapper">
	<div class="search-header">
		<div class="row">
			<div class="search-area col">
				<div class="input-form">
					<div class="input-group">
						<input type="text"placeholder="Search Bills" class="search-box form-control">
						<button type="submit" class="btn button-filter">Filter Options</button>
					</div>
				</div>
			</div>
			<div class="new-item-area col">
				<a routerLink="New Bill"><button class="btn button-save">New Bill</button></a>
				<button class="btn button-filter">Export</button>
			</div>
		</div>
	</div>


</div>






